 /*ESTILOS GENERALES*/
 *{
    margin: 0;
  }
  body {
    font-family: "Segoe UI";
    background: gray;
  }
  nav {
    background: #242526;
    width: 100%;
    padding: 0 20px 0 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  /*ESTILOS NAVBAR IZQUIERDA*/
  .navbar_izq {
    width: 25%;
    display: flex;
    align-items: center;
  }
  
  .navbar_logo {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
  
  .icono_buscar i {
    position: absolute;
  }
  
  .icono_buscar {
    width: 100%;
  }
  
  .icono {
    padding: 13px 10px;
    color: #a8abaf;
    min-width: 20px;
    text-align: center;
    margin-right: 20px;
  }
  .caja_input {
    width: 50%;
    padding: 12px 0 12px 35px;
    background: #3a3b3c;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    color: #a8abaf;
  }
  .caja_input:focus {
    outline: none;
  }
  ::placeholder {
    color: #a8abaf;
  }

  /*ESTILOS NAVBAR CENTRO*/

  .navbar_center {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar_center a {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }
  
  .navbar_center a:hover {
    background: #3a3b3c;
    border-radius: 10px;
    height: 55px;
    border: none;
  }
  
  .icono_activo {
    border-bottom: 3px solid #2d88ff;
  }
  .icono_activo i {
    color: #2d88ff;
  }
  
  nav a,
  nav a i {
    text-decoration: none;
    color: #b8bbbf;
    font-size: 23px;
  }


  /*ESTILOS NAVBAR DERECHA*/

  .navbar_der {
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 45px;
  }
  
  .perfil_navbar {
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 20px;    
  }
  
  .perfil_navbar img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .perfil_navbar span {
    color: #e7e9ed;
    font-size: 15px;
  }
  
  .links_navbar i {
    margin-right: 5px;
    background: #404041;
    padding: 12px;
    border-radius: 100%;
    color: #e7e9ed;
    cursor: pointer;
    font-size: 16px;
  }
  